img {
	width: 30%; /*relavent to the parent element*/
	float: left;
	margin: 1.66%;
}

h1 {

	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}